.privacy {
    font-size: 9px;
}

.vheader {
    font-size: 16px;
    text-align: right;
    color: #4A4A4A;
    /* font-weight: 500; */
    
}


a.vheader-link:link {
    padding: 12px;
    /* padding-right: 12px; */
    text-decoration: none;
    color: #4A4A4A;

}
/* a.vheader-link:hover {
    background-color: lightblue;
} */

a.vheader-link:visited {
   color: #4A4A4A;
}


.version {
    font-size: 8px;
    text-align: left;
}

.logo {
    text-align: left;
    color: #4A4A4A;
}

a.logo-link:link {
    text-decoration: none;
    color: #4A4A4A;

}

a.logo-link:visited {
    color: #4A4A4A;
}
